.navbar {
    display: flex;
    color: #fff;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #333;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: '1.5rem';
}

.navLinks {
    display: flex;
    list-style: none;
    gap: 15px;
}

.main-section {
    padding: 3em 3em;
}